@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin: 0;padding: 0;}
.view_header {height: 58px; position: relative;width: 100%; text-align:center;vertical-align:middle;}
.cont {min-width: 1000px;}
.b_wp {position: relative;}
.cont {margin: 0 auto;min-width: 1000px;margin: -7px auto 0px;}
/* .b_wp {background: none repeat scroll 0 0 #fff;} */
.yb_bf {background: none repeat scroll 0 0 #E7E7E7;}
body, button, input, select, textarea {font: 12px/1.5 Helvetica,tahoma,arial,宋体,华文细黑,sans-serif;}
.view_header .view_back {color: #FFFFFF;cursor: pointer;font: 14px/34px 微软雅黑;left: 190px;position: absolute;top: 8px;}
a {outline: 0 none;text-decoration: none;}
.logo{background: url("images/spr_headericon.png") no-repeat scroll -9999em center rgba(0, 0, 0, 0);}
.logo {background-position: 0 0;height: 37px;left: 19px;position: absolute;top: 2px;width: 154px;}
.confixed:after {clear: both;content: " ";display: block;height: 0;overflow: hidden;}
.content_wp {margin: 0;padding: 0;}
.content_wp, .wp_mid_hd, .banner_wpbox, .mid_bd_banner {position: relative;}
.yb_bfinner {margin: 0 auto;position: relative;width: 980px;z-index: 50;}
.yb_bf .yb_bfTitle {color: #333333;font: bold 14px/24px Helvetica,宋体;height: 24px;overflow: hidden;padding: 15px 0 10px;text-overflow: ellipsis;white-space: nowrap;width: 580px;}
fieldset, img {border: 0 none;}
.yb_bf .me {color: #666666;position: absolute;right: 0;top: 10px;z-index: 700;}
.yb_bf .me .m_open {padding-right: 20px;}
.yb_bf .me .m_txt, .yb_bf .me .m_open {color: #666666;cursor: pointer;display: inline-block;line-height: 22px;}
a {outline: 0 none;text-decoration: none;}
.inputSpan .input{width: 600px;height: 23px;font-size: 20px;line-height: 20px;font-family: arial;margin: 5px 0 0 7px;padding: 11px;background: #fff;
outline: 0;-webkit-appearance: none;border: 0;margin-left:0px;margin-top:8px;color: #999999;border: 2px solid #008FFF;color: #000;float: left;}
.buttonSpan{width: 110px;height: 35px;cursor:pointer;text-align:center;display: inline-block; z-index: 0;vertical-align: top; background:url(images/icons_7a2840b1.png);background-position:0px 0px;padding-top:14px;margin-top:8px;font-size: 30px;color: #fff;margin-left:0px;float: left;}
.buttonSpan1{width: 170px;height: 35px;cursor:pointer;text-align:center;display: inline-block; z-index: 0;vertical-align: top; background:url(images/icons_7a2840b1.png);background-position:0px 0px;padding-top:14px;margin-top:8px;font-size: 30px;color: #fff;margin-left:12px;float: right;}
.beyond{width: 95px;height: 24px;cursor:pointer;text-align:center;display: inline-block; z-index: 0;vertical-align: top; background:url(images/icons_7a2840b1.png);background-position:0px 0px;padding-top:6px;margin-top:0px;color: #fff;margin-left:5px;float: right;font: 15px ΢���ź�, 'Lucida Grande', STHeiti, Verdana, Arial, Times, serif;}
.yksp{width: 250px;height: 35px;cursor:pointer;text-align:center;display: inline-block; z-index: 0;vertical-align: top; background-position:0px 0px;padding-top:14px;margin-top:8px;font-size: 30px;color: #fff;float: left;}
.spanIcon{ width:100%; margin: 0px 5px 0px 5px; padding: 0px 5px 0px 5px; cursor:pointer;}
.spanIcon a:link{ text-decoration:none;}
.spanIcon a{ color:#FFFFFF}
.spanIcon a:hover{  color:red}
.spanIcon a img{ width:16px; height:16px; border:0;  }
.boxCenters{overflow: hidden;margin:0 auto;width:100%;overflow:hidden}
.boxCenter{margin:0 auto;width:1190px;overflow:hidden}
.boxCenter1{margin:0 auto;width:1190px;overflow:hidden;background:#454545}
.guanggaowei{width: 1000px;margin-top: 8px;}
#youku{background:#008FFF;}
#youku:hover{background:#0066FF;}
#ykdz{background:#008FFF;}
#ykdz:hover{background:#008FFF;}
#ykw{background:#FF6A06;color: #FFFFFF;}
#ykw:hover{background:#CF3200;}
#mp4{background:#C74FFF;color: #FFFFFF;}
#mp4:hover{background:#980FD8;}
#thems{width:100%;margin:10px 0px 5px 0px;padding:10px 0px 5px 0px;font-size:14px;text-align: center;}
#thems span{width:100%;margin: 0px 10px 0px 1px;padding:0px 10px 0px 1px;cursor:pointer;}
#thems span a{color:#FFFFFF}
#thems span a:link{text-decoration:none;color: #fff;font-size: 18px;}
#thems span a:hover{color:red}
#thems span a img{width:16px;height:16px;border:0;}
.w_as{border:0px #fff solid;display:inline;float:left;width:100%;height:532px;margin-top:-8px;}
.as{background: url('') left top repeat-y;}
.w_bs{border:0px #fff solid;display:inline;float:left;width:100%;height:527px;margin-top:5px;}
.bs{background:#000 url('') left top repeat-y;}
.w_991{border:0px #000 solid;display:inline;float:right;text-align: center;width:100%;height:170px;margin-top:0px;padding-top: 30px;}
.gg1{background:#000 url('') right top repeat-y;}
.w_992{border:5px #fff solid;display:inline;float:left;width:1190px;height:16px;margin-top:0px;}
.gg2{background:#fff url('') left top repeat-y;}
.w_993{border:0px #fff solid;display:inline;float:left;width:880px;height:0px;margin-top:0px;}
.gg3{background:#fff url('') left top repeat-y;}
.w_994{border:0px #fff solid;display:inline;float:right;width:310px;height:px;margin-top:-10px;}
.gg4{background: url('') right top repeat-y;} 
.w_995{border:0px #fff solid;display:inline;float:left;width:1190px;height:40px;margin-top:-5px;}
.gg5{background:#252525 url('') left top repeat-y;}
.w_996{border:0px #fff solid;display:inline;float:left;width:1190px;height:550px;margin-top:-8px;}
.gg6{background: url('') left top repeat-y;}
.w_997{border:0px #fff solid;display:inline;float:left;width:890px;height:545px;margin-top:5px;}
.gg7{background:#000 url('') left top repeat-y;}
.w_998{border:0px #fff solid;display:inline;float:right;width:300px;height:540px;margin-top:0px;}
.gg8{background:# url('') right top repeat-y;}
.w_999{border:0px #fff solid;display:inline;float:right;width:300px;height:250px;margin-top:8px;}
.gg9{background:#fff url('/v/css/1.jpg') right top repeat-y;}
.w_9901{border:0px #fff solid;display:inline;float:right;width:300px;height:250px;margin-top:0px;}
.gg01{background:#fff url('/v/css/2.jpg') right top repeat-y;}
.w_99so{border:0px #fff solid;display:inline;float:right;width:300px;height:42px;margin-top:0px;}
.ggso{background:#fff url('') right top repeat-y;} 
.w_9921{border:5px #fff solid;display:inline;float:left;width:1160px;height:100px;margin-top:0px;}
.gg21{background:#fff url('/v/css/3.jpg') left top repeat-y;}
.w_9931{border:0px #fff solid;display:inline;float:left;width:960px;height:0px;margin-top:5px;}
.gg31{background:#fff url('') left top repeat-y;}
.w_9941{border:0px #fff solid;display:inline;float:right;width:200px;height:110px;margin-top:-5px;}
.gg41{background: url('') right top repeat-y;} 
.w_9922{border:5px #fff solid;display:inline;float:left;width:1160px;height:280px;margin-top:0px;}
.gg22{background:#fff url('/v/css/4.jpg') left top repeat-y;}
.w_9932{border:0px #fff solid;display:inline;float:left;width:824px;height:0px;margin-top:0px;}
.gg32{background:#fff url('') left top repeat-y;}
.w_9942{border:0px #fff solid;display:inline;float:right;width:336px;height:280px;margin-top:0px;}
.gg42{background: url('') right top repeat-y;} 
element.style {
display: block;
}
.live-barrage {
height: 40px;
display: none;
background: none;
border: 0;
position: absolute;
bottom: 0;
left: 55px;
right: 195px;
padding: 0;
}
.barrage-pane {
background: #242424;
height: 35px;
position: absolute;
left: 0;
bottom: 0;
right: 0;
}
#yk1{background:#252525;color: #969696;}
#yk1:hover{background:#000;}